html {
  box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*
Item atlas: http://i.imgur.com/ngGK5MF.png
Table atlas: http://i.imgur.com/nOqKSbE.png
*/
.inventory-table a,.inventory-table a:link,.inventory-table a:visited {
    color: #c00;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
.inventory-table a:hover {
  color: #ff5c19;
  text-decoration: underline;
}
.inventory-table a:active {
  color: #6aff19;
}
input[type="range"]
{
    width: 400px;
}



.inventory-row.handySlots{padding: 0 8%;}
.inventory-row.handySlots .inventory-cell{margin: 2% 1%;}

.inventory-row.ABSlots:first-of-type{margin-top: 40px !important;}
.inventory-row.ABSlots{margin-top: 22px !important;display:flex;justify-content: center;}
@media (max-width: 1366px) {
    .inventory-row.handySlots{padding: 0 1%;}
    .inventory-row.handySlots .inventory-cell{margin: 0;}
    .inventory-row.ABSlots:first-of-type{margin-top: 24px !important;}
    .inventory-row.ABSlots{margin-top: 7px !important;}
}
.inventory-row
{
    display: flex;
	flex-direction: row;
	justify-content: flex-start; /* align items in Main Axis */
	align-items: flex-start; /* align items in Cross Axis */
    align-content: flex-start; /* Extra space in Cross Axis */
}
.myHcell
{
    width: auto;
    height: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; /* align items in Main Axis */
    align-items: center; /* align items in Cross Axis */
    align-content: center; /* Extra space in Cross Axis */
}
.my-cell
{
    width: 400px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; /* align items in Main Axis */
    align-items: center; /* align items in Cross Axis */
    align-content: center; /* Extra space in Cross Axis */
    border:1px solid;
}
.my-cell:first-of-type{ width:100px;}
.my-cell:nth-of-type(2){
    justify-content: left; /* align items in Main Axis */
    align-items: left; /* align items in Cross Axis */
    align-content: left; /* Extra space in Cross Axis */
}
.inventory-cell
{
    width: 36px;
    height: 36px;

    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    justify-content: center; /* align items in Main Axis */
    align-items: center; /* align items in Cross Axis */
    align-content: center; /* Extra space in Cross Axis */

    background-image: url('../../img/inventory/nOqKSbE.png');
    background-position: -229px -331px;
}
/* left */
.inventory-cell:first-child
{
    width: 38px;
    padding-left: 2px;

    background-position: -190px -331px;
}
/* right */
.inventory-cell:last-child
{
    width: 38px;
    padding-right: 2px;

    background-position: -266px -331px;
}

/* top ROW */
.inventory-row:first-child .inventory-cell
{
    height: 38px;
    padding-top: 2px;

    background-position: -229px -292px;
}
/* bottom ROW */
.inventory-row:last-child .inventory-cell
{
    height: 38px;
    padding-bottom: 2px;

    background-position: -229px -368px;
}
/* top left */
.inventory-row:first-child .inventory-cell:first-child
{
    width: 38px;
    height: 38px;

    background-position: -190px -292px;
}
/* top right */
.inventory-row:first-child .inventory-cell:last-child
{
    width: 38px;
    height: 38px;

    background-position: -266px -292px;
}
/* bottom left */
.inventory-row:last-child .inventory-cell:first-child
{
    width: 38px;
    height: 38px;

    background-position: -190px -368px;
}
/* bottom right */
.inventory-row:last-child .inventory-cell:last-child
{
    width: 38px;
    height: 38px;

    background-position: -266px -368px;
}
/* single horizontal */
.inventory-row:only-child .inventory-cell
{
    height: 40px;

    background-position: -613px -286px;
}
/* single horizontal left */
.inventory-row:only-child .inventory-cell:first-child
{
    width: 38px;
    height: 40px;

    background-position: -574px -286px;
}
/* single horizontal right */
.inventory-row:only-child .inventory-cell:last-child
{
    width: 38px;
    height: 40px;

    background-position: -650px -286px;
}
/* single vertical */
.inventory-row .inventory-cell:only-child
{
    width: 40px;

    background-position: -563px -463px;
}
/* single vertical top */
.inventory-row:first-child .inventory-cell:only-child
{
    width: 40px;
    height: 38px;

    background-position: -563px -424px;
}
/* single vertical bottom */
.inventory-row:last-child .inventory-cell:only-child
{
    width: 40px;
    height: 38px;

    background-position: -563px -500px;
}
/* By sir Wojciech Vojas */
.inventory-row.severalSlots .inventory-cell,
.inventory-row.severalSlots .inventory-cell:first-child,
.inventory-row.severalSlots .inventory-cell:last-child
{
    width: 40px;
    height: 40px;

    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    justify-content: center; /* align items in Main Axis */
    align-items: center; /* align items in Cross Axis */
    align-content: center; /* Extra space in Cross Axis */

    background-image: url('../../img/inventory/nOqKSbE.png');
    background-position: -30px -288px;
}

.inventory-row.severalSlots .inventory-cell.head  { background:  url('../../img/inventory/invB/A1.head.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}
.inventory-row.severalSlots .inventory-cell.amulet{ background:  url('../../img/inventory/invB/A2.amulet.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}
.inventory-row.severalSlots .inventory-cell.armR1,
.inventory-row.severalSlots .inventory-cell.armR2 { background:  url('../../img/inventory/invB/A3.armR.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}
.inventory-row.severalSlots .inventory-cell.belt  { background:  url('../../img/inventory/invB/A4.belt.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}
.inventory-row.severalSlots .inventory-cell.ringR { background:  url('../../img/inventory/invB/A5&B5.ring.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}
.inventory-row.severalSlots .inventory-cell.legR  { background:  url('../../img/inventory/invB/A6.legR.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}
.inventory-row.severalSlots .inventory-cell.feet  { background:  url('../../img/inventory/invB/A7.feet.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}

.inventory-row.severalSlots .inventory-cell.cape  { background:  url('../../img/inventory/invB/B1.cape.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}
.inventory-row.severalSlots .inventory-cell.armor { background:  url('../../img/inventory/invB/B2.armor.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}
.inventory-row.severalSlots .inventory-cell.armL1,
.inventory-row.severalSlots .inventory-cell.armL2 { background:  url('../../img/inventory/invB/B3.armL.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}
.inventory-row.severalSlots .inventory-cell.hands { background:  url('../../img/inventory/invB/B4.hands.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}
.inventory-row.severalSlots .inventory-cell.ringL { background:  url('../../img/inventory/invB/A5&B5.ring.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}
.inventory-row.severalSlots .inventory-cell.legL  { background:  url('../../img/inventory/invB/B6.legL.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}
.inventory-row.severalSlots .inventory-cell.pupil { background:  url('../../img/inventory/invB/B7.pupil.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}

.inventory-row.severalSlots .inventory-cell.quiver { background:  url('../../img/inventory/invB/H.quiver.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}
.inventory-row.severalSlots .inventory-cell.quick { background:  url('../../img/inventory/invB/H.quick.png') 0, url('../../img/inventory/nOqKSbE.png') -30px -288px;background-size: contain, auto;background-blend-mode: screen;}
/* single by singel */
.inventory-row:only-child .inventory-cell:only-child
{
    width: 40px;
    height: 40px;

    background-position: -30px -288px;
}
/* ITEMS */
.inventory-item
{
    width: 34px !important;
    height: 34px !important;
    /* background-image: url('../../img/inventory/626e171c9.png'); */
    /* background-image: url('../../img/inventory/inventoryIcons.png'); */
    background-image: url('../../img/inventory/invIco34x34.png');
    /* background-size: 2000%; */
    background-repeat: no-repeat;

    cursor: hand;
    cursor: pointer;

    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.inventory-item:hover{
   background-color:rgba(30,80,190,0.4);
}
.inventory-item-sortable-placeholder
{
    display: none;
}
.inventory-item.ui-sortable-helper, .inventory-item.ui-draggable-dragging
{
    opacity: .6;
}
.inventory-item.magic::before{
    content:'';
    display:block;
    width: 34px;
    height: 34px;
    background-image: url('../../img/inventory/BorderMagicV11.png');
}
.inventory-item.rare::before{
    content:'';
    display:block;
    width: 34px;
    height: 34px;
    background-image: url('../../img/inventory/BorderRareV11.png');
}
.inventory-item.unique::before{
    content:'';
    display:block;
    width: 34px;
    height: 34px;
    background-image: url('../../img/inventory/BorderUniqueV11.png');
}

.inventory-item.armorMail{              background-position:  -442px -1088px;}
/* 1 kolumna */
.inventory-item.adraCurrency{           background-position: 0px 0px;}
.inventory-item.Oil{                    background-position: 0px -34px;}
.inventory-item.Poultry{                background-position: 0px -68px;}
.inventory-item.sweetPie{               background-position: 0px -102px;}
.inventory-item.goldenCelery{           background-position: 0px -136px;}
.inventory-item.Ruby{                   background-position: 0px -170px;}
.inventory-item.Velune{                 background-position: 0px -204px;}
/* background-position: 0px -238px
background-position: 0px -272px
background-position: 0px -306px
background-position: 0px -340px
background-position: 0px -374px
background-position: 0px -408px
background-position: 0px -442px
background-position: 0px -476px
background-position: 0px -510px
background-position: 0px -544px
background-position: 0px -578px
background-position: 0px -612px
background-position: 0px -646px
background-position: 0px -680px
background-position: 0px -714px
background-position: 0px -748px
background-position: 0px -782px
background-position: 0px -816px
background-position: 0px -850px
background-position: 0px -884px
background-position: 0px -918px
background-position: 0px -952px
background-position: 0px -986px
background-position: 0px -1020px
background-position: 0px -1054px
background-position: 0px -1088px
background-position: 0px -1087px
background-position: 0px -1086px
background-position: 0px -1085px
background-position: 0px -1084px
background-position: 0px -1083px
background-position: 0px -1082px
background-position: 0px -1081px
background-position: 0px -1080px
background-position: 0px -1079px
background-position: 0px -1078px
background-position: 0px -1077px
background-position: 0px -1076px
background-position: 0px -1075px
background-position: 0px -1074px
background-position: 0px -1073px
background-position: 0px -1072px */



.inventory-item.springBerries{          background-position: -102px -136px; }
.inventory-item.vegetables{             background-position: -272px -68px;  }
.inventory-item.fruits{                 background-position: -306px -68px;  }
.inventory-item.meat{                   background-position: -306px -34px;  }
.inventory-item.meatDish{               background-position: -272px -34px;  }

/* .inventory-item.sword{                  background-position: -170px -544px; } */
/* .inventory-item.sword_fine{             background-position: -170px -544px; } */
.inventory-item.swordLyssandrasBlade{   background-position: -374px -544px; }
.inventory-item.swordSheathedInAtumn{   background-position: -408px -544px; }

.inventory-item.potionOfPower{          background-position: -374px -1496px;}
.inventory-item.potionOfMmm{            background-position: -340px -1496px;}

.inventory-item.warBow{                 background-position: -408px -340px; }

.inventory-item.battleAxe{              background-position: -34px -476px;  }
.inventory-item.battleAxeEofR{          background-position: -68px -476px;  }

/*-------------------------------------------------------------------------------*/
.inventory-item.bolts_standard {                    background-position: -544px -170px; }
.inventory-item.bolts_standard2{                    background-position: -578px -170px; }
.inventory-item.hat_tricorne{                       background-position:  0px -578px; }
.inventory-item.Hat_Company_Captains_Cap{           background-position: -272px -544px; }
.inventory-item.Poe2_clothing_principi_03_icon{     background-position: -204px -1156px;  }
.inventory-item.cloak_red_magnificent{              background-position: -34px -340px;  }
.inventory-item.gunpowder{                          background-position: -578px -510px;  }
.inventory-item.horse_harness{                      background-position: -578px -646px;  }
.inventory-item.robe_armor_white{                   background-position: -34px -1972px;  }
.inventory-item.amulet_owl{                         background-position: -272px -68px;  }
.inventory-item.book_tome_dirty{                    background-position: -374px -204px;  }
.inventory-item.journal-black{                      background-position: -510px -1564px;  }
.inventory-item.book_box_black{                     background-position:    0px -204px;  }

.inventory-item.Poe2_grimoire_arkmyr_icon{          background-position: -544px -1360px; }
.inventory-item.quill{                              background-position: -408px -1870px;  }
.inventory-item.quill2{                             background-position: -442px -1870px;  }
.inventory-item.rolled_letter{                      background-position: -238px -1972px;  }
.inventory-item.goldrot_chew{                       background-position: -34px -510px;  }
.inventory-item.grain{                              background-position: -68px -510px;  }
.inventory-item.cloth_outfit_blouse{                background-position: -238px -340px;  }

.inventory-item.sabre{                              background-position: -306px -1972px;  }

.inventory-item.Poe2_dagger_exsilver{               background-position: -102px -1190px;  } /* srebrny sztylet */
.inventory-item.zz10_tooth_necklace{                background-position: 0px -2346px;  } /* naszyjnik - ząb brata */
.inventory-item.zz11_studded_armor_icon{            background-position: -34px -2346px;  } /* kurta ćwiekowana */

.inventory-item.deck{                               background-position: -612px -374px;  }
.inventory-item.penhelms_affidavit{                 background-position: -102px -884px; }
.inventory-item.Poe2_clothing_principi_02_icon{     background-position: -136px -1156px;  }
.inventory-item.Poe2_scale_iridescent_icon{         background-position: -544px -1734px;  }
.inventory-item.Poe2_scale_iridescent_icon{         background-position: -102px -1156px;  }
.inventory-item.crossbow{                           background-position: -170px -374px;  }
.inventory-item.sword{                              background-position: -476px -2176px;  }
.inventory-item.pistol{                             background-position:    0px -918px;  }
.inventory-item.sword_fine{                         background-position: -646px -2176px;  }
.inventory-item.knife{                              background-position: -578px -714px;  }
.inventory-item.dagger{                             background-position: -408px -374px;  }
.inventory-item.mail_armor{                         background-position: -612px -782px;  }
.inventory-item.brigandine_armor_fine{              background-position: -510px -238px;  }
.inventory-item.leather_armor{                      background-position: -544px -748px;  }
.inventory-item.leather_armor_fine{                 background-position: -578px -748px;  }
.inventory-item.leather_armor_icon{                 background-position: -102px -782px;  }
.inventory-item.leather_armor03{                    background-position: -646px -748px;  }
.inventory-item.scale_armor_exceptional{            background-position: -204px -2006px;  }
.inventory-item.Poe2_padded_armor_rauatai_icon{     background-position: -238px -1666px;  }
.inventory-item.Poe2_mail_armor_principi_icon{      background-position: -578px -1598px;  }
.inventory-item.shield_small_fine{                  background-position: -170px -2108px;  }
.inventory-item.Boots_slippers_of_the_assassin_icon{background-position: -34px -238px;  }
.inventory-item.Poe2_ammunition_icon{               background-position: -68px -952px;  }
.inventory-item.Poe2_hide_boar_icon{                background-position: -476px -1530px;  }
.inventory-item.hide_armor_fine{                background-position: -476px -1530px;  }
.inventory-item.Poe2_spirits_icon{                background-position: -170px -1768px;  } /* butelka wina */


.inventory-item.zz01_brave_stone{                   background-position: -374px -2312px;  }
.inventory-item.zz02_cloth_outfit_blouse_dirt{        background-position: -408px -2312px;  }
.inventory-item.zz03_trap_snare{                    background-position: -442px -2312px;  }
.inventory-item.zz04_antidotum{                     background-position: -476px -2312px;  }
.inventory-item.zz05_book_box_black{                background-position: -510px -2312px;  }
.inventory-item.zz06_boat01{                        background-position: -544px -2312px;  }
.inventory-item.zz07_bullet{                        background-position: -578px -2312px;  }
.inventory-item.zz08_fafik{                         background-position: -612px -2312px;  }
.inventory-item.zz09_wooden_buckler{                background-position: -646px -2312px;  }


.inventory-item.cape_07{                            background-position: -646px -272px;  }
.inventory-item.Poe2_armor_scale_eder_icon{         background-position: -238px -986px;  }
.inventory-item.Poe2_rope_icon{                     background-position: -306px -1734px;  }
.inventory-item.Poe2_peculiar_dice_icon{            background-position: -510px -1666px;  }

.inventory-item.sakiewka{                           background-position: -374px -1054px;  }
.inventory-item.cos{                                background-position: 0px -34px;  }

.inventory-item.v0001{background-position:0px 0px; }	.inventory-item.v0002{background-position:-34px 0px; }	.inventory-item.v0003{background-position:-68px 0px; }	.inventory-item.v0004{background-position:-102px 0px; }	.inventory-item.v0005{background-position:-136px 0px; }	.inventory-item.v0006{background-position:-170px 0px; }	.inventory-item.v0007{background-position:-204px 0px; }	.inventory-item.v0008{background-position:-238px 0px; }
.inventory-item.v0021{background-position:0px -34px; }	.inventory-item.v0022{background-position:-34px -34px; }	.inventory-item.v0023{background-position:-68px -34px; }	.inventory-item.v0024{background-position:-102px -34px; }	.inventory-item.v0025{background-position:-136px -34px; }	.inventory-item.v0026{background-position:-170px -34px; }	.inventory-item.v0027{background-position:-204px -34px; }	.inventory-item.v0028{background-position:-238px -34px; }
.inventory-item.v0041{background-position:0px -68px; }	.inventory-item.v0042{background-position:-34px -68px; }	.inventory-item.v0043{background-position:-68px -68px; }	.inventory-item.v0044{background-position:-102px -68px; }	.inventory-item.v0045{background-position:-136px -68px; }	.inventory-item.v0046{background-position:-170px -68px; }	.inventory-item.v0047{background-position:-204px -68px; }	.inventory-item.v0048{background-position:-238px -68px; }
.inventory-item.v0061{background-position:0px -102px; }	.inventory-item.v0062{background-position:-34px -102px; }	.inventory-item.v0063{background-position:-68px -102px; }	.inventory-item.v0064{background-position:-102px -102px; }	.inventory-item.v0065{background-position:-136px -102px; }	.inventory-item.v0066{background-position:-170px -102px; }	.inventory-item.v0067{background-position:-204px -102px; }	.inventory-item.v0068{background-position:-238px -102px; }
.inventory-item.v0081{background-position:0px -136px; }	.inventory-item.v0082{background-position:-34px -136px; }	.inventory-item.v0083{background-position:-68px -136px; }	.inventory-item.v0084{background-position:-102px -136px; }	.inventory-item.v0085{background-position:-136px -136px; }	.inventory-item.v0086{background-position:-170px -136px; }	.inventory-item.v0087{background-position:-204px -136px; }	.inventory-item.v0088{background-position:-238px -136px; }
.inventory-item.v0101{background-position:0px -170px; }	.inventory-item.v0102{background-position:-34px -170px; }	.inventory-item.v0103{background-position:-68px -170px; }	.inventory-item.v0104{background-position:-102px -170px; }	.inventory-item.v0105{background-position:-136px -170px; }	.inventory-item.v0106{background-position:-170px -170px; }	.inventory-item.v0107{background-position:-204px -170px; }	.inventory-item.v0108{background-position:-238px -170px; }
.inventory-item.v0121{background-position:0px -204px; }	.inventory-item.v0122{background-position:-34px -204px; }	.inventory-item.v0123{background-position:-68px -204px; }	.inventory-item.v0124{background-position:-102px -204px; }	.inventory-item.v0125{background-position:-136px -204px; }	.inventory-item.v0126{background-position:-170px -204px; }	.inventory-item.v0127{background-position:-204px -204px; }	.inventory-item.v0128{background-position:-238px -204px; }
.inventory-item.v0141{background-position:0px -238px; }	.inventory-item.v0142{background-position:-34px -238px; }	.inventory-item.v0143{background-position:-68px -238px; }	.inventory-item.v0144{background-position:-102px -238px; }	.inventory-item.v0145{background-position:-136px -238px; }	.inventory-item.v0146{background-position:-170px -238px; }	.inventory-item.v0147{background-position:-204px -238px; }	.inventory-item.v0148{background-position:-238px -238px; }
.inventory-item.v0161{background-position:0px -272px; }	.inventory-item.v0162{background-position:-34px -272px; }	.inventory-item.v0163{background-position:-68px -272px; }	.inventory-item.v0164{background-position:-102px -272px; }	.inventory-item.v0165{background-position:-136px -272px; }	.inventory-item.v0166{background-position:-170px -272px; }	.inventory-item.v0167{background-position:-204px -272px; }	.inventory-item.v0168{background-position:-238px -272px; }
.inventory-item.v0181{background-position:0px -306px; }	.inventory-item.v0182{background-position:-34px -306px; }	.inventory-item.v0183{background-position:-68px -306px; }	.inventory-item.v0184{background-position:-102px -306px; }	.inventory-item.v0185{background-position:-136px -306px; }	.inventory-item.v0186{background-position:-170px -306px; }	.inventory-item.v0187{background-position:-204px -306px; }	.inventory-item.v0188{background-position:-238px -306px; }
.inventory-item.v0201{background-position:0px -340px; }	.inventory-item.v0202{background-position:-34px -340px; }	.inventory-item.v0203{background-position:-68px -340px; }	.inventory-item.v0204{background-position:-102px -340px; }	.inventory-item.v0205{background-position:-136px -340px; }	.inventory-item.v0206{background-position:-170px -340px; }	.inventory-item.v0207{background-position:-204px -340px; }	.inventory-item.v0208{background-position:-238px -340px; }
.inventory-item.v0221{background-position:0px -374px; }	.inventory-item.v0222{background-position:-34px -374px; }	.inventory-item.v0223{background-position:-68px -374px; }	.inventory-item.v0224{background-position:-102px -374px; }	.inventory-item.v0225{background-position:-136px -374px; }	.inventory-item.v0226{background-position:-170px -374px; }	.inventory-item.v0227{background-position:-204px -374px; }	.inventory-item.v0228{background-position:-238px -374px; }
.inventory-item.v0241{background-position:0px -408px; }	.inventory-item.v0242{background-position:-34px -408px; }	.inventory-item.v0243{background-position:-68px -408px; }	.inventory-item.v0244{background-position:-102px -408px; }	.inventory-item.v0245{background-position:-136px -408px; }	.inventory-item.v0246{background-position:-170px -408px; }	.inventory-item.v0247{background-position:-204px -408px; }	.inventory-item.v0248{background-position:-238px -408px; }
.inventory-item.v0261{background-position:0px -442px; }	.inventory-item.v0262{background-position:-34px -442px; }	.inventory-item.v0263{background-position:-68px -442px; }	.inventory-item.v0264{background-position:-102px -442px; }	.inventory-item.v0265{background-position:-136px -442px; }	.inventory-item.v0266{background-position:-170px -442px; }	.inventory-item.v0267{background-position:-204px -442px; }	.inventory-item.v0268{background-position:-238px -442px; }
.inventory-item.v0281{background-position:0px -476px; }	.inventory-item.v0282{background-position:-34px -476px; }	.inventory-item.v0283{background-position:-68px -476px; }	.inventory-item.v0284{background-position:-102px -476px; }	.inventory-item.v0285{background-position:-136px -476px; }	.inventory-item.v0286{background-position:-170px -476px; }	.inventory-item.v0287{background-position:-204px -476px; }	.inventory-item.v0288{background-position:-238px -476px; }
.inventory-item.v0301{background-position:0px -510px; }	.inventory-item.v0302{background-position:-34px -510px; }	.inventory-item.v0303{background-position:-68px -510px; }	.inventory-item.v0304{background-position:-102px -510px; }	.inventory-item.v0305{background-position:-136px -510px; }	.inventory-item.v0306{background-position:-170px -510px; }	.inventory-item.v0307{background-position:-204px -510px; }	.inventory-item.v0308{background-position:-238px -510px; }
.inventory-item.v0321{background-position:0px -544px; }	.inventory-item.v0322{background-position:-34px -544px; }	.inventory-item.v0323{background-position:-68px -544px; }	.inventory-item.v0324{background-position:-102px -544px; }	.inventory-item.v0325{background-position:-136px -544px; }	.inventory-item.v0326{background-position:-170px -544px; }	.inventory-item.v0327{background-position:-204px -544px; }	.inventory-item.v0328{background-position:-238px -544px; }
.inventory-item.v0341{background-position:0px -578px; }	.inventory-item.v0342{background-position:-34px -578px; }	.inventory-item.v0343{background-position:-68px -578px; }	.inventory-item.v0344{background-position:-102px -578px; }	.inventory-item.v0345{background-position:-136px -578px; }	.inventory-item.v0346{background-position:-170px -578px; }	.inventory-item.v0347{background-position:-204px -578px; }	.inventory-item.v0348{background-position:-238px -578px; }
.inventory-item.v0361{background-position:0px -612px; }	.inventory-item.v0362{background-position:-34px -612px; }	.inventory-item.v0363{background-position:-68px -612px; }	.inventory-item.v0364{background-position:-102px -612px; }	.inventory-item.v0365{background-position:-136px -612px; }	.inventory-item.v0366{background-position:-170px -612px; }	.inventory-item.v0367{background-position:-204px -612px; }	.inventory-item.v0368{background-position:-238px -612px; }
.inventory-item.v0381{background-position:0px -646px; }	.inventory-item.v0382{background-position:-34px -646px; }	.inventory-item.v0383{background-position:-68px -646px; }	.inventory-item.v0384{background-position:-102px -646px; }	.inventory-item.v0385{background-position:-136px -646px; }	.inventory-item.v0386{background-position:-170px -646px; }	.inventory-item.v0387{background-position:-204px -646px; }	.inventory-item.v0388{background-position:-238px -646px; }
.inventory-item.v0401{background-position:0px -680px; }	.inventory-item.v0402{background-position:-34px -680px; }	.inventory-item.v0403{background-position:-68px -680px; }	.inventory-item.v0404{background-position:-102px -680px; }	.inventory-item.v0405{background-position:-136px -680px; }	.inventory-item.v0406{background-position:-170px -680px; }	.inventory-item.v0407{background-position:-204px -680px; }	.inventory-item.v0408{background-position:-238px -680px; }
.inventory-item.v0421{background-position:0px -714px; }	.inventory-item.v0422{background-position:-34px -714px; }	.inventory-item.v0423{background-position:-68px -714px; }	.inventory-item.v0424{background-position:-102px -714px; }	.inventory-item.v0425{background-position:-136px -714px; }	.inventory-item.v0426{background-position:-170px -714px; }	.inventory-item.v0427{background-position:-204px -714px; }	.inventory-item.v0428{background-position:-238px -714px; }
.inventory-item.v0441{background-position:0px -748px; }	.inventory-item.v0442{background-position:-34px -748px; }	.inventory-item.v0443{background-position:-68px -748px; }	.inventory-item.v0444{background-position:-102px -748px; }	.inventory-item.v0445{background-position:-136px -748px; }	.inventory-item.v0446{background-position:-170px -748px; }	.inventory-item.v0447{background-position:-204px -748px; }	.inventory-item.v0448{background-position:-238px -748px; }
.inventory-item.v0461{background-position:0px -782px; }	.inventory-item.v0462{background-position:-34px -782px; }	.inventory-item.v0463{background-position:-68px -782px; }	.inventory-item.v0464{background-position:-102px -782px; }	.inventory-item.v0465{background-position:-136px -782px; }	.inventory-item.v0466{background-position:-170px -782px; }	.inventory-item.v0467{background-position:-204px -782px; }	.inventory-item.v0468{background-position:-238px -782px; }
.inventory-item.v0481{background-position:0px -816px; }	.inventory-item.v0482{background-position:-34px -816px; }	.inventory-item.v0483{background-position:-68px -816px; }	.inventory-item.v0484{background-position:-102px -816px; }	.inventory-item.v0485{background-position:-136px -816px; }	.inventory-item.v0486{background-position:-170px -816px; }	.inventory-item.v0487{background-position:-204px -816px; }	.inventory-item.v0488{background-position:-238px -816px; }
.inventory-item.v0501{background-position:0px -850px; }	.inventory-item.v0502{background-position:-34px -850px; }	.inventory-item.v0503{background-position:-68px -850px; }	.inventory-item.v0504{background-position:-102px -850px; }	.inventory-item.v0505{background-position:-136px -850px; }	.inventory-item.v0506{background-position:-170px -850px; }	.inventory-item.v0507{background-position:-204px -850px; }	.inventory-item.v0508{background-position:-238px -850px; }
.inventory-item.v0521{background-position:0px -884px; }	.inventory-item.v0522{background-position:-34px -884px; }	.inventory-item.v0523{background-position:-68px -884px; }	.inventory-item.v0524{background-position:-102px -884px; }	.inventory-item.v0525{background-position:-136px -884px; }	.inventory-item.v0526{background-position:-170px -884px; }	.inventory-item.v0527{background-position:-204px -884px; }	.inventory-item.v0528{background-position:-238px -884px; }
.inventory-item.v0541{background-position:0px -918px; }	.inventory-item.v0542{background-position:-34px -918px; }	.inventory-item.v0543{background-position:-68px -918px; }	.inventory-item.v0544{background-position:-102px -918px; }	.inventory-item.v0545{background-position:-136px -918px; }	.inventory-item.v0546{background-position:-170px -918px; }	.inventory-item.v0547{background-position:-204px -918px; }	.inventory-item.v0548{background-position:-238px -918px; }
.inventory-item.v0561{background-position:0px -952px; }	.inventory-item.v0562{background-position:-34px -952px; }	.inventory-item.v0563{background-position:-68px -952px; }	.inventory-item.v0564{background-position:-102px -952px; }	.inventory-item.v0565{background-position:-136px -952px; }	.inventory-item.v0566{background-position:-170px -952px; }	.inventory-item.v0567{background-position:-204px -952px; }	.inventory-item.v0568{background-position:-238px -952px; }
.inventory-item.v0581{background-position:0px -986px; }	.inventory-item.v0582{background-position:-34px -986px; }	.inventory-item.v0583{background-position:-68px -986px; }	.inventory-item.v0584{background-position:-102px -986px; }	.inventory-item.v0585{background-position:-136px -986px; }	.inventory-item.v0586{background-position:-170px -986px; }	.inventory-item.v0587{background-position:-204px -986px; }	.inventory-item.v0588{background-position:-238px -986px; }
.inventory-item.v0601{background-position:0px -1020px; }	.inventory-item.v0602{background-position:-34px -1020px; }	.inventory-item.v0603{background-position:-68px -1020px; }	.inventory-item.v0604{background-position:-102px -1020px; }	.inventory-item.v0605{background-position:-136px -1020px; }	.inventory-item.v0606{background-position:-170px -1020px; }	.inventory-item.v0607{background-position:-204px -1020px; }	.inventory-item.v0608{background-position:-238px -1020px; }
.inventory-item.v0621{background-position:0px -1054px; }	.inventory-item.v0622{background-position:-34px -1054px; }	.inventory-item.v0623{background-position:-68px -1054px; }	.inventory-item.v0624{background-position:-102px -1054px; }	.inventory-item.v0625{background-position:-136px -1054px; }	.inventory-item.v0626{background-position:-170px -1054px; }	.inventory-item.v0627{background-position:-204px -1054px; }	.inventory-item.v0628{background-position:-238px -1054px; }
.inventory-item.v0641{background-position:0px -1088px; }	.inventory-item.v0642{background-position:-34px -1088px; }	.inventory-item.v0643{background-position:-68px -1088px; }	.inventory-item.v0644{background-position:-102px -1088px; }	.inventory-item.v0645{background-position:-136px -1088px; }	.inventory-item.v0646{background-position:-170px -1088px; }	.inventory-item.v0647{background-position:-204px -1088px; }	.inventory-item.v0648{background-position:-238px -1088px; }
.inventory-item.v0661{background-position:0px -1122px; }	.inventory-item.v0662{background-position:-34px -1122px; }	.inventory-item.v0663{background-position:-68px -1122px; }	.inventory-item.v0664{background-position:-102px -1122px; }	.inventory-item.v0665{background-position:-136px -1122px; }	.inventory-item.v0666{background-position:-170px -1122px; }	.inventory-item.v0667{background-position:-204px -1122px; }	.inventory-item.v0668{background-position:-238px -1122px; }
.inventory-item.v0681{background-position:0px -1156px; }	.inventory-item.v0682{background-position:-34px -1156px; }	.inventory-item.v0683{background-position:-68px -1156px; }	.inventory-item.v0684{background-position:-102px -1156px; }	.inventory-item.v0685{background-position:-136px -1156px; }	.inventory-item.v0686{background-position:-170px -1156px; }	.inventory-item.v0687{background-position:-204px -1156px; }	.inventory-item.v0688{background-position:-238px -1156px; }
.inventory-item.v0701{background-position:0px -1190px; }	.inventory-item.v0702{background-position:-34px -1190px; }	.inventory-item.v0703{background-position:-68px -1190px; }	.inventory-item.v0704{background-position:-102px -1190px; }	.inventory-item.v0705{background-position:-136px -1190px; }	.inventory-item.v0706{background-position:-170px -1190px; }	.inventory-item.v0707{background-position:-204px -1190px; }	.inventory-item.v0708{background-position:-238px -1190px; }
.inventory-item.v0721{background-position:0px -1224px; }	.inventory-item.v0722{background-position:-34px -1224px; }	.inventory-item.v0723{background-position:-68px -1224px; }	.inventory-item.v0724{background-position:-102px -1224px; }	.inventory-item.v0725{background-position:-136px -1224px; }	.inventory-item.v0726{background-position:-170px -1224px; }	.inventory-item.v0727{background-position:-204px -1224px; }	.inventory-item.v0728{background-position:-238px -1224px; }
.inventory-item.v0741{background-position:0px -1258px; }	.inventory-item.v0742{background-position:-34px -1258px; }	.inventory-item.v0743{background-position:-68px -1258px; }	.inventory-item.v0744{background-position:-102px -1258px; }	.inventory-item.v0745{background-position:-136px -1258px; }	.inventory-item.v0746{background-position:-170px -1258px; }	.inventory-item.v0747{background-position:-204px -1258px; }	.inventory-item.v0748{background-position:-238px -1258px; }
.inventory-item.v0761{background-position:0px -1292px; }	.inventory-item.v0762{background-position:-34px -1292px; }	.inventory-item.v0763{background-position:-68px -1292px; }	.inventory-item.v0764{background-position:-102px -1292px; }	.inventory-item.v0765{background-position:-136px -1292px; }	.inventory-item.v0766{background-position:-170px -1292px; }	.inventory-item.v0767{background-position:-204px -1292px; }	.inventory-item.v0768{background-position:-238px -1292px; }
.inventory-item.v0781{background-position:0px -1326px; }	.inventory-item.v0782{background-position:-34px -1326px; }	.inventory-item.v0783{background-position:-68px -1326px; }	.inventory-item.v0784{background-position:-102px -1326px; }	.inventory-item.v0785{background-position:-136px -1326px; }	.inventory-item.v0786{background-position:-170px -1326px; }	.inventory-item.v0787{background-position:-204px -1326px; }	.inventory-item.v0788{background-position:-238px -1326px; }
.inventory-item.v0801{background-position:0px -1360px; }	.inventory-item.v0802{background-position:-34px -1360px; }	.inventory-item.v0803{background-position:-68px -1360px; }	.inventory-item.v0804{background-position:-102px -1360px; }	.inventory-item.v0805{background-position:-136px -1360px; }	.inventory-item.v0806{background-position:-170px -1360px; }	.inventory-item.v0807{background-position:-204px -1360px; }	.inventory-item.v0808{background-position:-238px -1360px; }
.inventory-item.v0821{background-position:0px -1394px; }	.inventory-item.v0822{background-position:-34px -1394px; }	.inventory-item.v0823{background-position:-68px -1394px; }	.inventory-item.v0824{background-position:-102px -1394px; }	.inventory-item.v0825{background-position:-136px -1394px; }	.inventory-item.v0826{background-position:-170px -1394px; }	.inventory-item.v0827{background-position:-204px -1394px; }	.inventory-item.v0828{background-position:-238px -1394px; }
.inventory-item.v0841{background-position:0px -1428px; }	.inventory-item.v0842{background-position:-34px -1428px; }	.inventory-item.v0843{background-position:-68px -1428px; }	.inventory-item.v0844{background-position:-102px -1428px; }	.inventory-item.v0845{background-position:-136px -1428px; }	.inventory-item.v0846{background-position:-170px -1428px; }	.inventory-item.v0847{background-position:-204px -1428px; }	.inventory-item.v0848{background-position:-238px -1428px; }
.inventory-item.v0861{background-position:0px -1462px; }	.inventory-item.v0862{background-position:-34px -1462px; }	.inventory-item.v0863{background-position:-68px -1462px; }	.inventory-item.v0864{background-position:-102px -1462px; }	.inventory-item.v0865{background-position:-136px -1462px; }	.inventory-item.v0866{background-position:-170px -1462px; }	.inventory-item.v0867{background-position:-204px -1462px; }	.inventory-item.v0868{background-position:-238px -1462px; }
.inventory-item.v0881{background-position:0px -1496px; }	.inventory-item.v0882{background-position:-34px -1496px; }	.inventory-item.v0883{background-position:-68px -1496px; }	.inventory-item.v0884{background-position:-102px -1496px; }	.inventory-item.v0885{background-position:-136px -1496px; }	.inventory-item.v0886{background-position:-170px -1496px; }	.inventory-item.v0887{background-position:-204px -1496px; }	.inventory-item.v0888{background-position:-238px -1496px; }
.inventory-item.v0901{background-position:0px -1530px; }	.inventory-item.v0902{background-position:-34px -1530px; }	.inventory-item.v0903{background-position:-68px -1530px; }	.inventory-item.v0904{background-position:-102px -1530px; }	.inventory-item.v0905{background-position:-136px -1530px; }	.inventory-item.v0906{background-position:-170px -1530px; }	.inventory-item.v0907{background-position:-204px -1530px; }	.inventory-item.v0908{background-position:-238px -1530px; }
.inventory-item.v0921{background-position:0px -1564px; }	.inventory-item.v0922{background-position:-34px -1564px; }	.inventory-item.v0923{background-position:-68px -1564px; }	.inventory-item.v0924{background-position:-102px -1564px; }	.inventory-item.v0925{background-position:-136px -1564px; }	.inventory-item.v0926{background-position:-170px -1564px; }	.inventory-item.v0927{background-position:-204px -1564px; }	.inventory-item.v0928{background-position:-238px -1564px; }
.inventory-item.v0941{background-position:0px -1598px; }	.inventory-item.v0942{background-position:-34px -1598px; }	.inventory-item.v0943{background-position:-68px -1598px; }	.inventory-item.v0944{background-position:-102px -1598px; }	.inventory-item.v0945{background-position:-136px -1598px; }	.inventory-item.v0946{background-position:-170px -1598px; }	.inventory-item.v0947{background-position:-204px -1598px; }	.inventory-item.v0948{background-position:-238px -1598px; }
.inventory-item.v0961{background-position:0px -1632px; }	.inventory-item.v0962{background-position:-34px -1632px; }	.inventory-item.v0963{background-position:-68px -1632px; }	.inventory-item.v0964{background-position:-102px -1632px; }	.inventory-item.v0965{background-position:-136px -1632px; }	.inventory-item.v0966{background-position:-170px -1632px; }	.inventory-item.v0967{background-position:-204px -1632px; }	.inventory-item.v0968{background-position:-238px -1632px; }
.inventory-item.v0981{background-position:0px -1666px; }	.inventory-item.v0982{background-position:-34px -1666px; }	.inventory-item.v0983{background-position:-68px -1666px; }	.inventory-item.v0984{background-position:-102px -1666px; }	.inventory-item.v0985{background-position:-136px -1666px; }	.inventory-item.v0986{background-position:-170px -1666px; }	.inventory-item.v0987{background-position:-204px -1666px; }	.inventory-item.v0988{background-position:-238px -1666px; }
.inventory-item.v1001{background-position:0px -1700px; }	.inventory-item.v1002{background-position:-34px -1700px; }	.inventory-item.v1003{background-position:-68px -1700px; }	.inventory-item.v1004{background-position:-102px -1700px; }	.inventory-item.v1005{background-position:-136px -1700px; }	.inventory-item.v1006{background-position:-170px -1700px; }	.inventory-item.v1007{background-position:-204px -1700px; }	.inventory-item.v1008{background-position:-238px -1700px; }
.inventory-item.v1021{background-position:0px -1734px; }	.inventory-item.v1022{background-position:-34px -1734px; }	.inventory-item.v1023{background-position:-68px -1734px; }	.inventory-item.v1024{background-position:-102px -1734px; }	.inventory-item.v1025{background-position:-136px -1734px; }	.inventory-item.v1026{background-position:-170px -1734px; }	.inventory-item.v1027{background-position:-204px -1734px; }	.inventory-item.v1028{background-position:-238px -1734px; }
.inventory-item.v1041{background-position:0px -1768px; }	.inventory-item.v1042{background-position:-34px -1768px; }	.inventory-item.v1043{background-position:-68px -1768px; }	.inventory-item.v1044{background-position:-102px -1768px; }	.inventory-item.v1045{background-position:-136px -1768px; }	.inventory-item.v1046{background-position:-170px -1768px; }	.inventory-item.v1047{background-position:-204px -1768px; }	.inventory-item.v1048{background-position:-238px -1768px; }
.inventory-item.v1061{background-position:0px -1802px; }	.inventory-item.v1062{background-position:-34px -1802px; }	.inventory-item.v1063{background-position:-68px -1802px; }	.inventory-item.v1064{background-position:-102px -1802px; }	.inventory-item.v1065{background-position:-136px -1802px; }	.inventory-item.v1066{background-position:-170px -1802px; }	.inventory-item.v1067{background-position:-204px -1802px; }	.inventory-item.v1068{background-position:-238px -1802px; }
.inventory-item.v1081{background-position:0px -1836px; }	.inventory-item.v1082{background-position:-34px -1836px; }	.inventory-item.v1083{background-position:-68px -1836px; }	.inventory-item.v1084{background-position:-102px -1836px; }	.inventory-item.v1085{background-position:-136px -1836px; }	.inventory-item.v1086{background-position:-170px -1836px; }	.inventory-item.v1087{background-position:-204px -1836px; }	.inventory-item.v1088{background-position:-238px -1836px; }
.inventory-item.v1101{background-position:0px -1870px; }	.inventory-item.v1102{background-position:-34px -1870px; }	.inventory-item.v1103{background-position:-68px -1870px; }	.inventory-item.v1104{background-position:-102px -1870px; }	.inventory-item.v1105{background-position:-136px -1870px; }	.inventory-item.v1106{background-position:-170px -1870px; }	.inventory-item.v1107{background-position:-204px -1870px; }	.inventory-item.v1108{background-position:-238px -1870px; }
.inventory-item.v1121{background-position:0px -1904px; }	.inventory-item.v1122{background-position:-34px -1904px; }	.inventory-item.v1123{background-position:-68px -1904px; }	.inventory-item.v1124{background-position:-102px -1904px; }	.inventory-item.v1125{background-position:-136px -1904px; }	.inventory-item.v1126{background-position:-170px -1904px; }	.inventory-item.v1127{background-position:-204px -1904px; }	.inventory-item.v1128{background-position:-238px -1904px; }
.inventory-item.v1141{background-position:0px -1938px; }	.inventory-item.v1142{background-position:-34px -1938px; }	.inventory-item.v1143{background-position:-68px -1938px; }	.inventory-item.v1144{background-position:-102px -1938px; }	.inventory-item.v1145{background-position:-136px -1938px; }	.inventory-item.v1146{background-position:-170px -1938px; }	.inventory-item.v1147{background-position:-204px -1938px; }	.inventory-item.v1148{background-position:-238px -1938px; }
.inventory-item.v1161{background-position:0px -1972px; }	.inventory-item.v1162{background-position:-34px -1972px; }	.inventory-item.v1163{background-position:-68px -1972px; }	.inventory-item.v1164{background-position:-102px -1972px; }	.inventory-item.v1165{background-position:-136px -1972px; }	.inventory-item.v1166{background-position:-170px -1972px; }	.inventory-item.v1167{background-position:-204px -1972px; }	.inventory-item.v1168{background-position:-238px -1972px; }
.inventory-item.v1181{background-position:0px -2006px; }	.inventory-item.v1182{background-position:-34px -2006px; }	.inventory-item.v1183{background-position:-68px -2006px; }	.inventory-item.v1184{background-position:-102px -2006px; }	.inventory-item.v1185{background-position:-136px -2006px; }	.inventory-item.v1186{background-position:-170px -2006px; }	.inventory-item.v1187{background-position:-204px -2006px; }	.inventory-item.v1188{background-position:-238px -2006px; }
.inventory-item.v1201{background-position:0px -2040px; }	.inventory-item.v1202{background-position:-34px -2040px; }	.inventory-item.v1203{background-position:-68px -2040px; }	.inventory-item.v1204{background-position:-102px -2040px; }	.inventory-item.v1205{background-position:-136px -2040px; }	.inventory-item.v1206{background-position:-170px -2040px; }	.inventory-item.v1207{background-position:-204px -2040px; }	.inventory-item.v1208{background-position:-238px -2040px; }
.inventory-item.v1221{background-position:0px -2074px; }	.inventory-item.v1222{background-position:-34px -2074px; }	.inventory-item.v1223{background-position:-68px -2074px; }	.inventory-item.v1224{background-position:-102px -2074px; }	.inventory-item.v1225{background-position:-136px -2074px; }	.inventory-item.v1226{background-position:-170px -2074px; }	.inventory-item.v1227{background-position:-204px -2074px; }	.inventory-item.v1228{background-position:-238px -2074px; }
.inventory-item.v1241{background-position:0px -2108px; }	.inventory-item.v1242{background-position:-34px -2108px; }	.inventory-item.v1243{background-position:-68px -2108px; }	.inventory-item.v1244{background-position:-102px -2108px; }	.inventory-item.v1245{background-position:-136px -2108px; }	.inventory-item.v1246{background-position:-170px -2108px; }	.inventory-item.v1247{background-position:-204px -2108px; }	.inventory-item.v1248{background-position:-238px -2108px; }
.inventory-item.v1261{background-position:0px -2142px; }	.inventory-item.v1262{background-position:-34px -2142px; }	.inventory-item.v1263{background-position:-68px -2142px; }	.inventory-item.v1264{background-position:-102px -2142px; }	.inventory-item.v1265{background-position:-136px -2142px; }	.inventory-item.v1266{background-position:-170px -2142px; }	.inventory-item.v1267{background-position:-204px -2142px; }	.inventory-item.v1268{background-position:-238px -2142px; }
.inventory-item.v1281{background-position:0px -2176px; }	.inventory-item.v1282{background-position:-34px -2176px; }	.inventory-item.v1283{background-position:-68px -2176px; }	.inventory-item.v1284{background-position:-102px -2176px; }	.inventory-item.v1285{background-position:-136px -2176px; }	.inventory-item.v1286{background-position:-170px -2176px; }	.inventory-item.v1287{background-position:-204px -2176px; }	.inventory-item.v1288{background-position:-238px -2176px; }
.inventory-item.v1301{background-position:0px -2210px; }	.inventory-item.v1302{background-position:-34px -2210px; }	.inventory-item.v1303{background-position:-68px -2210px; }	.inventory-item.v1304{background-position:-102px -2210px; }	.inventory-item.v1305{background-position:-136px -2210px; }	.inventory-item.v1306{background-position:-170px -2210px; }	.inventory-item.v1307{background-position:-204px -2210px; }	.inventory-item.v1308{background-position:-238px -2210px; }
.inventory-item.v1321{background-position:0px -2244px; }	.inventory-item.v1322{background-position:-34px -2244px; }	.inventory-item.v1323{background-position:-68px -2244px; }	.inventory-item.v1324{background-position:-102px -2244px; }	.inventory-item.v1325{background-position:-136px -2244px; }	.inventory-item.v1326{background-position:-170px -2244px; }	.inventory-item.v1327{background-position:-204px -2244px; }	.inventory-item.v1328{background-position:-238px -2244px; }
.inventory-item.v1341{background-position:0px -2278px; }	.inventory-item.v1342{background-position:-34px -2278px; }	.inventory-item.v1343{background-position:-68px -2278px; }	.inventory-item.v1344{background-position:-102px -2278px; }	.inventory-item.v1345{background-position:-136px -2278px; }	.inventory-item.v1346{background-position:-170px -2278px; }	.inventory-item.v1347{background-position:-204px -2278px; }	.inventory-item.v1348{background-position:-238px -2278px; }
.inventory-item.v1361{background-position:0px -2312px; }	.inventory-item.v1362{background-position:-34px -2312px; }	.inventory-item.v1363{background-position:-68px -2312px; }	.inventory-item.v1364{background-position:-102px -2312px; }	.inventory-item.v1365{background-position:-136px -2312px; }	.inventory-item.v1366{background-position:-170px -2312px; }	.inventory-item.v1367{background-position:-204px -2312px; }	.inventory-item.v1368{background-position:-238px -2312px; }
.inventory-item.v1381{background-position:0px -2346px; }	.inventory-item.v1382{background-position:-34px -2346px; }	.inventory-item.v1383{background-position:-68px -2346px; }	.inventory-item.v1384{background-position:-102px -2346px; }	.inventory-item.v1385{background-position:-136px -2346px; }	.inventory-item.v1386{background-position:-170px -2346px; }	.inventory-item.v1387{background-position:-204px -2346px; }	.inventory-item.v1388{background-position:-238px -2346px; }



